.App {
    padding: 30px;
    display: flex;
}

.flipBoard {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.flipBoard div {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flipBoard div .piece {
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center center;
    transition: 100ms;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.game {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
}

.game div {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center center;
    transition: 100ms;
}

.piece:hover {
    background-repeat: no-repeat;
    background-size: 78px;
}

.tan {
    background-color: rgb(204, 174, 134);
}

.brown {
    background-color: rgb(136, 84, 36);
}

.highlight {
    background-color: rgb(44, 44, 253);
}

.check {
    background-color: lightcoral;
}

.menu {
    text-align: center;
    position: fixed;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(231, 233, 99);
    border-radius: 5px;
    padding: 15px;
}

.menu button {
    width: 200px;
    height: 50px;
    background-color: antiquewhite;
    transition: 300ms;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
}

.menu button:hover {
    background-color: rgb(172, 153, 128);
}

#promoBox {
    margin-left: 40px;
    flex-direction: column;
}

#promoContainer {
    width: 350px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(208, 163, 106);
}

#promoContainer div {
    width: 70px;
    height: 70px;
}


/* Piece images*/


/*Pawns*/

._17 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png');
}

._9 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png');
}


/*Rook*/

._20 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png')
}

._12 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png')
}


/*Knight*/

._18 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png')
}

._10 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png');
}


/*Bishop*/

._19 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png')
}

._11 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png');
}


/*Queen*/

._21 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png')
}

._13 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png');
}


/*King*/

._22 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png')
}

._14 {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png');
}